html,
body {
  background-color: #285964;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-flow: row wrap;
}
.main > * {
  padding: 10px;
  flex: 1 100%;
}
#players,
#containerPlayers {
  font-size: 1.5em;
  left: -19%;
  top: 13%;
  position: absolute;
}
h1,
#players,
#question,
#containerPlayers,
h2 {
  font-family: "Quicksand", sans-serif;
  color: #63f05e;
  font-weight: 300;
}
#players,
#containerPlayers,
h2 {
  margin-left: 20%;
}
h1,
#question {
  font-size: 2.5em;
  color: white;
}
h1 {
  text-align: center;
}
#million {
  position: absolute;
  top: 42px;
  left: 71%;
  width: 22%;
}
@media all and (max-width: 700px) {
  h1,
  #question {
    text-align: center;
    font-size: 1.7em;
    flex: 1 0 0;
    margin-left: 40%;
  }
  #million {
    display: none;
  }
}
h2 {
  text-align: center;
  font-size: 2em;
}
#btnSubmit {
  width: 90%;
  padding: 10px;
  background-color: #63f05e;
  color: #fff;
  font-weight: 300;
  font-size: 2.5em;
  margin-left: 1%;
  border-radius: 10px;
}
#nickname,
#password,
a {
  width: 90%;
  text-align: center;
  padding: 10px;
  height: 60px;
  font-family: "Quicksand", sans-serif;
  color: #63f05e;
  font-weight: 300;
  border: 1px dotted white;
  border-radius: 10px;
  background: transparent;
}
#avatar {
  font-size: 1.6em;
}
.playerContainer {
  font-size: 1.2em;
  display: inline-block;
}
a {
  font-size: 2em;
}
#nickname,
#password {
  font-size: 2em;
}
#form {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 320px;
  font-size: 1.5em;
  color: #ecffe0;
  height: 30%;
  text-align: center;
}
form label {
  font-weight: 300;
  font-size: 1.7em;
}
#scores,
#connection,
ul,
#instructions,
#scoreBoard {
  width: 67%;
  padding-left: 8%;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  margin-left: 8%;
}
#scores,
#connection,
ul,
#scoreBoard {
  font-weight: 200;
  font-size: 1.8em;
}
#instructions {
  font-weight: 1.5em;
  margin: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
}

#scoreBoard,
#scores {
  margin-top: 40px;
  height: auto;
  margin-left: 6%;
}
#scores {
  border: 2px solid #ccdbdf;
}

#error {
  width: 50%;
  margin-left: 20%;
}
#scoreBoard {
  display: inline;
}
#answers {
  display: flex;

  flex-wrap: wrap;
}
#answers button {
  padding: 2%;
  display: inline-block;
  width: 60%;
  text-align: center;
  flex-basis: 60%;
  margin-left: 7%;
  font-size: 1.7em;
  margin-top: 1%;
}
